<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${customerToBeDetailed}">
        <td th:text="${customerToBeDetailed.name}"></td>
        <td th:text="${customerToBeDetailed.email}"></td>
        <td th:text="${customerToBeDetailed.address}"></td>
    </tr>
    </tbody>
</table>
<a href="/customers">Customers list</a>
</body>
</html>
