<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
<h1>Customer List</h1>
<a href="/add_customer">Add Customer</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td>
            <a th:href="@{customer_details(customerId=${customer.getCustomerId()})}">Details</a>
            <a th:href="@{update_customer(customerId=${customer.getCustomerId()})}">Modify</a>
            <a th:href="@{delete_customer(customerId=${customer.getCustomerId()})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
