<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
<h1>Order List</h1>
<a href="/add_order">Add Order</a>
<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Customer</th>
        <th>Products</th>
        <th>Total Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderDescription}"></td>
        <td th:text="${order.customer.name}"></td>
        <td>
            <span th:utext="${productOccurrencesDisplay[order.orderId]}"></span>
        </td>
        <td th:text="${orderTotalAmounts[order.orderId]}"></td>
        <td>
            <a th:href="@{/delete_order(id=${order.orderId})}">Delete</a>
        </td>
        <td>
            <a th:href="@{/invoice(id=${order.orderId})}">Invoice</a>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
